<ion-content  style="--background: url('https://i.pinimg.com/474x/32/5e/95/325e9543aed023ae30386e786fba271f.jpg') no-repeat center center / cover;">
  
  <div class="logo"></div>
  <div style="text-align: center;">
    <p>
      <ion-text class="textTitleBIG">hype</ion-text>
      <ion-text class="textTitleBIG">Brand</ion-text>
    </p>
  </div>

  <ion-grid fixed class="grid">
    <ion-row>
      <ion-col>
        <div>
          <ion-item color="light" lines="none" class="email">
            <ion-input [(ngModel)]="firstame" placeholder="Nome"></ion-input>
          </ion-item>

          <ion-item color="light" lines="none" class="email">
            <ion-input [(ngModel)]="lastname" placeholder="Cognome"></ion-input>
          </ion-item>

          <ion-item color="light" lines="none" class="email">
            <ion-input [(ngModel)]="email" placeholder="Email"></ion-input>
          </ion-item>
          
          <ion-item color="light" lines="none">
            <ion-input type="{{ !isActive ? 'password' : 'text' }}" [(ngModel)]="password" placeholder="Password">
            </ion-input>
            <ion-icon color="secondary" slot="end" [name]="isActive?'eye':'eye-off'" item-right
              (click)="isActive=!isActive;" isActive=true>
            </ion-icon>
          </ion-item>

          <ion-item color="light" lines="none">
            <ion-input type="{{ !isActive ? 'password' : 'text' }}" [(ngModel)]="confermaPassword" placeholder="Conferma password">
            </ion-input>
            <ion-icon color="secondary" slot="end" [name]="isActive?'eye':'eye-off'" item-right
              (click)="isActive=!isActive;" isActive=true>
            </ion-icon>
          </ion-item>

        </div>
        <p></p>
        
        <ion-button color="primary">Registrati</ion-button>
        
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>