ion-item {
    /*  margin-top: 1%;
     align-content: center;
     border-bottom: solid 1px grey;
     color:  #97a9c5; */
     background-color: #121212;
     border-radius: 30px !important;
     /* padding-left: 30px !important; */
     font-size: 0.9em;
     margin-bottom: 10px;
     border: 1px solid #121212;
     border-bottom: 0px !important;
     box-shadow: none !important;
   }
   


   //sfondo gradiente
    .bg-class{
     --background: linear-gradient(250deg, rgba(100,100,100,1) 0%, rgba(63,63,63,1) 13.5%, rgba(29,29,29,1) 33.33%, rgba(0,0,0,1) 100%) !important;
   } 
   .titolo{
     font-size: 2rem;
     color: #97a9c5;
   }
   
   .grid{
     
     width: 70%;
   
     text-align: center;
   
   }
   
   a {
     color: grey;
   }
   
   /* ion-content.background {
   
       --background: url('https://wallpapers.party/media/2018/05/dark-14.jpg') 0 0/100% 100% repeat;
    
   } */
   
   
   .btn-group {
     .button-ios,
     .button-md {
       border-radius: 0;
       &:first-of-type {
         border-radius: 2px 0 0 2px;
       }
       &:last-of-type {
         border-radius: 0 2px 2px 0;
       }
     }
   }
   
   html,body {
     height: 100%;
     position: fixed;
     margin:0;
     background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
     overflow: hidden;
   }
   
   #title {
     position: absolute;
     top: 50%;
     left: 0;
     right: 0;
     color: #FFF;
     text-align: center;
     font-family: "lato", sans-serif;
     font-weight: 300;
     font-size: 50px;
     letter-spacing: 10px;
     margin-top: -60px;
     padding-left: 10px;
   }
   #title span {
     background: -webkit-linear-gradient(white, #38495a);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
   }
   
   